@import "tailwindcss";

@theme inline {
  --text-link-response: 1.3vw;
  --text-link-response-other: 1.6vw;

  --color-theme-rose-pink: #ca7c83;
  --color-theme-blush-pink: #eeb6bb;
  --color-theme-pale-pink: #f9dadd;
  --color-theme-lightest-rose: #fcf1f2;
  --color-theme-pinkish-white: #fefdfe;
  --color-theme-light-gray: #d9d9d9;
  --color-theme-dark-gray: #adadad;
}

/* fonts */

html:lang(en) .lang-based-font {
  font-family: var(--text-font);
}

html:lang(en) .lang-based-font-link {
  font-family: var(--link-font);
  @apply lg:text-link-response-other text-xl;
}

html:lang(ru) .lang-based-font {
  font-family: var(--text-font);
}

html:lang(ru) .lang-based-font-link {
  font-family: var(--link-font);
  @apply lg:text-link-response-other text-xl;
}

html:lang(am) .lang-based-font {
  font-family: var(--armenian-text-font);
}

html:lang(am) .lang-based-font-link {
  font-family: var(--armenian-link-font);
  @apply lg:text-link-response text-xl;
}

/* fonts end */

.swiper-pagination-bullet {
  @apply !bg-theme-dark-gray;
}
